$size-1: 20px;
$size-2: 18px;
$size-3: 16px;
$size-4: 14px;
.text-4r {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: $size-4;
}
.text-3r {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: $size-3;
  @media screen and (max-width: 768px) {
    font-size: $size-4;
  }
}
.text-2r {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: $size-2;
  @media screen and (max-width: 768px) {
    font-size: $size-3;
  }
}
.text-1r {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: $size-1;
  @media screen and (max-width: 768px) {
    font-size: $size-2;
  }
}
.text-tinysb {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
}
.text-4sb {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: $size-4;
}
.text-3sb {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: $size-3;
  @media screen and (max-width: 768px) {
    font-size: $size-4;
  }
}
.text-2sb {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: $size-2;
  @media screen and (max-width: 768px) {
    font-size: $size-3;
  }
}
.text-1sb {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: $size-1;
  @media screen and (max-width: 768px) {
    font-size: $size-2;
  }
}
///////
.desktop-4r {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.desktop-3r {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.desktop-2r {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 26px;
}
.desktop-1r {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 32px;
}
.desktop-tinysb {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
}
.desktop-4sb {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.desktop-3sb {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
}
.desktop-2sb {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 26px;
}
.desktop-1sb {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 32px;
}
//////////

.header-6sb {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.header-5sb {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 28px;
}

.header-4sb {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 32px;
}
