.text-4r {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.text-3r {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.text-2r {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.text-1r {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.text-tinysb {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
}
.text-4sb {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
}
.text-3sb {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.text-2sb {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.text-1sb {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
///////
.desktop-4r {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.desktop-3r {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.desktop-2r {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 26px;
}
.desktop-1r {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 32px;
}
.desktop-tinysb {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
}
.desktop-4sb {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.desktop-3sb {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
}
.desktop-2sb {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 26px;
}
.desktop-1sb {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 32px;
}
//////////

.header-6sb {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.header-5sb {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 28px;
}

.header-4sb {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 32px;
}
