$black-1: #1e1b22;
$black-2: #28242d;
$black-3: #322d39;
$black-4: #463f50;
$black-5: #afacb2;

$blue-1: #0a122a;
$blue-2: #101b42;
$blue-3: #142152;
$blue-4: #182863;
$blue-5: #243c94;

$red-1: #8f0200;
$red-2: #e00400;
$red-3: #ff3633;
$red-4: #ba264b;
$red-5: #d5345c;

$main-green: #00b894;
$main-yellow: #fff175;
$rating-yellow: #f5961d;
$main-purple: #741fef;
$signup-blue: #0d0c22;

$primary-color: $black-2;
$secondary-color: $blue-2;
$tertiary-color: $red-3;
