@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./components/styles/animations.scss";
@import "./components/styles/colorsClasses.scss";
@import "./components/styles/fontSizes.scss";
@import "./components/styles/fontFamily.scss";
@import "./components/styles/others.scss";

* {
  scroll-behavior: smooth;
}

.main-header {
  font-family: "Roboto serif";
  font-weight: 600;
  font-size: 54px;
  @media screen and (max-width: 768px) {
    font-size: 38px;
  }
  color: $black-2;
  line-height: 125%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
// prettier-ignore
input[type=number] {
    -moz-appearance: textfield;
}
